@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

.parent {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.input {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  width: 100%;
  margin: 10px 0;
  gap: 2;
}
.label {
  font-family: "Roboto";
  font-size: 14px;
  color: #0a0a0a;
  margin: 6px 0;
}
.form-ele {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.form {
  max-width: 530px;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
}

.buttonP {
  display: flex;
  justify-content: center;
  margin: 14px auto;
}
.button {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a0a0a;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in 0.2s;
}
.button:hover {
  border: 1px solid #0a0a0a;
  background-color: transparent;
  color: #000000;
}
.loader {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #000000;
  width: 16px;
  height: 16px;
  animation: spin 0.6s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.custom-checkbox {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid #0a0a0a;
  accent-color: #ffff;
  cursor: pointer;
}
.file-input {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  gap: 20px;
}
.inputs {
  display: flex;
  flex-direction: column;
  max-width: 130px;
  width: 100%;
}
.input-wrapper {
  padding: 10px;
  margin-top: 10px;
  border: gray 1px solid;
  outline: none;
  border-radius: 5px;
}
.upload-btn {
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
}
